
@media only screen and (min-width: 0px) {

	footer > div > div > div > h4 {
		font-size: 40px;
	}

	footer > div > div > div > div > img.qr_code {
		margin: 50px;
		width: 50%;
		max-width: 600px;
	}

	.content1 > img.imgWellcome01,
	.content1 > div > div.textAbout
	{
		display: none;
	}
	.content1 {
		text-align: center;
	}
	
	.content1 > div.positionWellcome {
		/*width:100%;*/
    	/*left: 15vw;*/
    	padding: 10px;
    	top:25vw;
    	font-size: 25px;
		/*position: absolute;
    	width:65%;
    	left: 15vw;
    	top:25vw;
    	font-size: 1.5vw;*/

	}
	.content1 > div > div.txt_wellcome >.h1{
		font-size: 40px;
		color: #4aaea2;
		/*font-size: 2.5vw;*/
	}

	.content1 > div > div.textAbout > small {
		font-size: 25px;
	}

	.content1 > div > div.textAbout > img {
		max-width: 83px;
		width: 25px;
	}

	.content1 > div > img.imgWellcome_buy {
		max-width: 625px;
		width: 50%;
		margin-top: 30px;
		padding-left: auto;
		padding-right: auto;
		/*margin-bottom: 10px;*/
		cursor: pointer;
	}

	.content1 > div > img.imgWellcome_buy:hover {
		transform: scale(1.1);
	}

	.content2 {
		/*background-color: yellow;*/
		text-align: center;
		background-image: url("../image/bg (1).png");
		
	}

	.content2>div>h2{
		margin: 0px;
		padding: 20px;
		padding-top: 40px;
		font-size: 25px;
	}
	.content2 > div > div.col-lg-6{
		/*padding: 0px;*/
	}
	.content2 > div > div.col-lg-6 > div{
		box-shadow: unset;
	}


	.borderYoutube,.peploe,.cartoonDog {
		display: none;
	}

	.content3 {
		background-image: url("../image/bg (2).png");
		text-align: center;
		padding-bottom: 20px;
	}

	.content3_barnd>img{
		width: 15%;
		margin-top: 20px;
	}

	.content3_head_view_sm {
		margin-top: 50px
		margin-top: 20px;
		padding: 20px;
		background-color: white;
	}
	.content3>div>div>div>div.input1{
		margin-top: 20px;
		padding: 1px 20px 1px;
		display: inline-block;
		border-radius: 3rem;
		font-weight: bold;
	}

	.content3>div>div>div>div.input2{
		margin-top: 5px;
		margin-bottom: 15px;
		font-size: 18px;
		color: white;
	}

	.content4 {
		background-image: url("../image/bg (3).png");
		background-color: #F44E4E;
		background-position: right bottom;
		padding: 15px;
		padding-top: 30px;
		padding-bottom: 30px;
		/*text-align: justify;
    	text-justify: inter-word;*/
	}

	.content4 > div > h1 {
		padding-top: 20px;
		padding-left: 15px;
		padding-bottom: 15px;
	}

	.content4> div > div {
		margin-bottom: 20px;
		display: grid;
  		grid-template-columns: 50px auto;
	}

	.content4 > div > div> div.num > img {
		max-width: 135px;
		width: 80%;
	}

	.content4> div > div >div.text >div> img {
		max-width: 359px;
		width: 35%;
	}
	.content4> div > div >div.text >div> img:hover {
		cursor: pointer;
    	/*opacity: 0.9;*/
    	transform: scale(1.1);
    	
	}
	.content4 > div > a>img.regiter {
		max-width: 629px;
		width: 40%;
		margin-left: auto;
		margin-right: auto;
	}
	.content4 > div > a>img.regiter:hover {
		cursor: pointer;
    	/*opacity: 0.9;*/
    	transform: scale(1.1);
	}

	.footerIconSocial {
		width: 60px;
		height: 60px;
		position: relative;
	    top: 2px;
	    cursor: pointer;
	}

	.footerIconSocial:hover {
		transform: scale(1.1);
	    cursor: pointer;
	}


}