@media only screen and (min-width: 1921px) {


	.content2 > div {
		display: block;
	}

	.content4 { 
		background-size: 100% auto;
		height: 800px;
	}

	footer > div > div {
		margin-left: 50px;
    	margin-right: 50px;
	}

}