/*@media only screen and (min-width: 1280px) {*/
@media only screen and (min-width: 1200px) {

	footer > div > div > div > div > img.qr_code {
		margin: 10px;
		width: 25%;
	}
	.content1 > img.imgWellcome01,
	.content1 > img.imgWellcome_qrCode,
	.content1 > div > img.imgWellcome_buy,
	.peploe ,.cartoonDog,
	.content1 > div > div.textAbout 
	{
		display: block;
	}

	.content3_head_view_sm,.content1 > img.wellcome_sm {
		display: none;
	}

	.content1 {
		text-align: left;
	}

	.content1 > div.positionWellcome {
		position: absolute;
    	width:65%;
    	left: 15vw;
    	top:25vw;
    	font-size: 1.5vw;

	}
	.content1 > div > div.txt_wellcome >.h1.text-shadow {
		font-size: 2.5vw;
	}

	/*.content1 > img.imgWellcome_qrCode {
		max-width: 600px;
		position: absolute;
    	width: 10%;
    	right: 10%;
    	top: 30%;
	}*/

	.content1 > div > div.textAbout > small {
		font-size: 1vw;
	}

	.content1 > div > div.textAbout > img {
		max-width: 83px;
		width: 2vw;
	}

	.content1 > div > img.imgWellcome_buy {
		max-width: 625px;
		width: 25%;
		margin-top: 50px;
		margin-bottom: 50px;
		cursor: pointer;
	}

	.content1 > div > img.imgWellcome_buy:hover {
		transform: scale(1.1);
	}
	/*.content2 > div > div.col-lg-6.offset-lg-3> div {*/
	.content2 > div > div.col-lg-6> div {
		border: solid 5px #ffae38;
		border-radius: 25px;
	}
	.content2>div{
		margin-top: 10%;
		/*margin: 100px;*/
		/*width: 33.33333333333333%;*/
	
	}
	.content2>div>h2{
		margin-bottom: 30px;
	}
	.content2>iframe{
		/*max-width: 500px;*/
		/*width: 100%;*/
	}
	
	.content3>.cartoonDog{
		left: 50%;
		position: absolute;
		width:20%;
		/*top: 600px;*/
		/*bottom: 0%;*/
		/*left: 10%;*/
	}
	.content3>.cartoonDog > img {
		top:150px;
		max-width: 271px;
		position: relative;
		left: -50%;
	}
	.content3>.cartoonDog > div{ /*ทำไมคุณต้องใช้ memberin desktop*/
		position: absolute;
		left: -85px; /*ขนาด px .cartoonDog > div /2 = num : left:-num; */
		top: 120%;
		font-weight: bold;
	}
	.content3 {
		background-size: 100% 100%;
		padding-bottom: 40px;
		padding-top: 30px;
	}

	.content4 { 
		background-image: url("../image/bg (3).png");
		/*4000px 2250px;*/
		/*background-size: 100% 100%;*/
		background-size: cover;
		height: 700px;
		max-width: 4000px;
	}

	.content4 > div > div.col-lg-5 {
		width: 50%;
		margin-left: 50%;
	}

	.content4 > div > h1 {
		padding-left: 15px;
		margin-left: 50%;
	}

	.content4 > div > a{
		width: 100%;
	}

	.content4 > div > a > img.regiter {
		width: 15%;
		margin-top: 50px;
		margin-left: 50%;
		margin-right: auto;
	}


/*	.borderYoutube {
		background-color: red;
		display: block;
		position: relative;
		width: 120%;
		
	}*/
	/*desktop*/
/*	.txt_wellcome {
		left: 140px;
		color: red;
	}*/

	/*.v_desktop{
		display: block;
	}

	.v_mobile{
		display: none;
	}*/

}