:root {
  --color-green: #4ab2a5;
  --color-yellow: #ffb739;
  --color-red: #ed1c24;
  --color-black: #231f20;
  --color-gray3: #f1f2f2; /*เทา อ่อน*/
  --color-gray2: #bcbec0; /*เทา กลาง*/
  --color-gray1: #6d6e71; /*เทา เข้ม*/
  --margin_sm: 10px;
  --margin_lg: 20px;
  --lg-s1: 48px; 
  --lg-s2: 41px; 
  --lg-s3: 36px; 
  --lg-s4: 21px; 
  --lg-s5: 16px; 
  --lg-s6: 14px;
   
  --sm-s1: 24px;
  --sm-s2: 21px;
  --sm-s3: 17px;
  --sm-s4: 15px;
  --sm-s5: 13px;
  --sm-s6: 10px;

}

/*body {
  background-color: var(--main-bg-color);
}
*/
html {
	font-family: 'Prompt', sans-serif;

}

body{
	min-width: 320px;
}

img,iframe {
	width: 100%;
}
.bold {
	font-weight: 700;
}

.medium {
	font-weight: 500;
}

.regular {
	font-weight: 400;
}

.light {
	font-weight: 300;
}

.thin {
	font-weight: 100;
}

.text-white {
	color:white;
}

.text-green {
	color:var(--color-green);
}
.text-red {
	color:var(--color-red);
}
.text-yellow {
	color:var(--color-yellow);
}
.text-black {
	color:var(--color-black);
}

.text-gray3 {
	color:var(--color-gray3);
}

.text-gray2 {
	color:var(--color-gray2);
}

.text-gray1 {
	color:var(--color-gray1);
}

.bg-green {
	background-color: var(--color-green);
}
.bg-red {
	background-color: var(--color-red);
}
.bg-yellow {
	background-color: var(--color-yellow);
}

.h1 {
	font-size: var(--lg-s1);
}

.h2 {
	font-size: var(--lg-s2);
}

.h3 {
	font-size: var(--lg-s3);
}

.h4 {
	font-size: var(--lg-s4);
}

.h5 {
	font-size: var(--lg-s5);
}

.h6 {
	font-size: var(--lg-s6);
}

.d-inline{
	display: inline;
	
}

.this_link:hover{
	cursor: pointer;
	transform: scale(1.1);
}

.text-indent { /*ย่อหน้า*/
	text-indent: 2.5em;
}





/*bootstarp custom-------------------------------------------*/
	
	.text-justify {
	  	text-align: justify;
	}

	/*pading margin------------------------------------------*/
		.m-0 {
		  margin: 0 !important;
		}

		.mt-0,
		.my-0 {
		  margin-top: 0 !important;
		}

		.mr-0,
		.mx-0 {
		  margin-right: 0 !important;
		}

		.mb-0,
		.my-0 {
		  margin-bottom: 0 !important;
		}

		.ml-0,
		.mx-0 {
		  margin-left: 0 !important;
		}

		.m-1 {
		  margin: 0.25rem !important;
		}

		.mt-1,
		.my-1 {
		  margin-top: 0.25rem !important;
		}

		.mr-1,
		.mx-1 {
		  margin-right: 0.25rem !important;
		}

		.mb-1,
		.my-1 {
		  margin-bottom: 0.25rem !important;
		}

		.ml-1,
		.mx-1 {
		  margin-left: 0.25rem !important;
		}

		.m-2 {
		  margin: 0.5rem !important;
		}

		.mt-2,
		.my-2 {
		  margin-top: 0.5rem !important;
		}

		.mr-2,
		.mx-2 {
		  margin-right: 0.5rem !important;
		}

		.mb-2,
		.my-2 {
		  margin-bottom: 0.5rem !important;
		}

		.ml-2,
		.mx-2 {
		  margin-left: 0.5rem !important;
		}

		.m-3 {
		  margin: 1rem !important;
		}

		.mt-3,
		.my-3 {
		  margin-top: 1rem !important;
		}

		.mr-3,
		.mx-3 {
		  margin-right: 1rem !important;
		}

		.mb-3,
		.my-3 {
		  margin-bottom: 1rem !important;
		}

		.ml-3,
		.mx-3 {
		  margin-left: 1rem !important;
		}

		.m-4 {
		  margin: 1.5rem !important;
		}

		.mt-4,
		.my-4 {
		  margin-top: 1.5rem !important;
		}

		.mr-4,
		.mx-4 {
		  margin-right: 1.5rem !important;
		}

		.mb-4,
		.my-4 {
		  margin-bottom: 1.5rem !important;
		}

		.ml-4,
		.mx-4 {
		  margin-left: 1.5rem !important;
		}

		.m-5 {
		  margin: 3rem !important;
		}

		.mt-5,
		.my-5 {
		  margin-top: 3rem !important;
		}

		.mr-5,
		.mx-5 {
		  margin-right: 3rem !important;
		}

		.mb-5,
		.my-5 {
		  margin-bottom: 3rem !important;
		}

		.ml-5,
		.mx-5 {
		  margin-left: 3rem !important;
		}

		.p-0 {
		  padding: 0 !important;
		}

		.pt-0,
		.py-0 {
		  padding-top: 0 !important;
		}

		.pr-0,
		.px-0 {
		  padding-right: 0 !important;
		}

		.pb-0,
		.py-0 {
		  padding-bottom: 0 !important;
		}

		.pl-0,
		.px-0 {
		  padding-left: 0 !important;
		}

		.p-1 {
		  padding: 0.25rem !important;
		}

		.pt-1,
		.py-1 {
		  padding-top: 0.25rem !important;
		}

		.pr-1,
		.px-1 {
		  padding-right: 0.25rem !important;
		}

		.pb-1,
		.py-1 {
		  padding-bottom: 0.25rem !important;
		}

		.pl-1,
		.px-1 {
		  padding-left: 0.25rem !important;
		}

		.p-2 {
		  padding: 0.5rem !important;
		}

		.pt-2,
		.py-2 {
		  padding-top: 0.5rem !important;
		}

		.pr-2,
		.px-2 {
		  padding-right: 0.5rem !important;
		}

		.pb-2,
		.py-2 {
		  padding-bottom: 0.5rem !important;
		}

		.pl-2,
		.px-2 {
		  padding-left: 0.5rem !important;
		}

		.p-3 {
		  padding: 1rem !important;
		}

		.pt-3,
		.py-3 {
		  padding-top: 1rem !important;
		}

		.pr-3,
		.px-3 {
		  padding-right: 1rem !important;
		}

		.pb-3,
		.py-3 {
		  padding-bottom: 1rem !important;
		}

		.pl-3,
		.px-3 {
		  padding-left: 1rem !important;
		}

		.p-4 {
		  padding: 1.5rem !important;
		}

		.pt-4,
		.py-4 {
		  padding-top: 1.5rem !important;
		}

		.pr-4,
		.px-4 {
		  padding-right: 1.5rem !important;
		}

		.pb-4,
		.py-4 {
		  padding-bottom: 1.5rem !important;
		}

		.pl-4,
		.px-4 {
		  padding-left: 1.5rem !important;
		}

		.p-5 {
		  padding: 3rem !important;
		}

		.pt-5,
		.py-5 {
		  padding-top: 3rem !important;
		}

		.pr-5,
		.px-5 {
		  padding-right: 3rem !important;
		}

		.pb-5,
		.py-5 {
		  padding-bottom: 3rem !important;
		}

		.pl-5,
		.px-5 {
		  padding-left: 3rem !important;
		}

		.m-auto {
		  margin: auto !important;
		}

		.mt-auto,
		.my-auto {
		  margin-top: auto !important;
		}

		.mr-auto,
		.mx-auto {
		  margin-right: auto !important;
		}

		.mb-auto,
		.my-auto {
		  margin-bottom: auto !important;
		}

		.ml-auto,
		.mx-auto {
		  margin-left: auto !important;
		}
	/*-------------------------------------------------------*/






	/*video--------------------------------------------------*/

		.embed-responsive {
		  position: relative;
		  display: block;
		  width: 100%;
		  padding: 0;
		  overflow: hidden;
		}

		.embed-responsive::before {
		  display: block;
		  content: "";
		}

		.embed-responsive .embed-responsive-item,
		.embed-responsive iframe,
		.embed-responsive embed,
		.embed-responsive object,
		.embed-responsive video {
		  position: absolute;
		  top: 0;
		  bottom: 0;
		  left: 0;
		  width: 100%;
		  height: 100%;
		  border: 0;
		}

		.embed-responsive-21by9::before {
		  padding-top: 42.857143%;
		}

		.embed-responsive-16by9::before {
		  padding-top: 56.25%;
		}

		.embed-responsive-4by3::before {
		  padding-top: 75%;
		}

		.embed-responsive-1by1::before {
		  padding-top: 100%;
		}
	/*------------------------------------------------------*/

/*end bootstarpcustom----------------------*/



