:root {
  --color-green: #4ab2a5;
  --color-yellow: #ffb739;
  --color-red: #ed1c24;
  --color-black: #231f20;
  --color-gray3: #f1f2f2; /*เทา อ่อน*/
  --color-gray2: #bcbec0; /*เทา กลาง*/
  --color-gray1: #6d6e71; /*เทา เข้ม*/
  --margin_sm: 10px;
  --margin_lg: 20px;
  --lg-s1: 48px; 
  --lg-s2: 41px; 
  --lg-s3: 36px; 
  --lg-s4: 21px; 
  --lg-s5: 16px; 
  --lg-s6: 14px;
   
  --sm-s1: 24px;
  --sm-s2: 21px;
  --sm-s3: 17px;
  --sm-s4: 15px;
  --sm-s5: 13px;
  --sm-s6: 10px;

}

/*body {
  background-color: var(--main-bg-color);
}
*/
html {
	font-family: 'Prompt', sans-serif;

}

body{
	min-width: 320px;
}

img,iframe {
	width: 100%;
}
.bold {
	font-weight: 700;
}

.medium {
	font-weight: 500;
}

.regular {
	font-weight: 400;
}

.light {
	font-weight: 300;
}

.thin {
	font-weight: 100;
}

.text-white {
	color:white;
}

.text-green {
	color:var(--color-green);
}
.text-red {
	color:var(--color-red);
}
.text-yellow {
	color:var(--color-yellow);
}
.text-black {
	color:var(--color-black);
}

.text-gray3 {
	color:var(--color-gray3);
}

.text-gray2 {
	color:var(--color-gray2);
}

.text-gray1 {
	color:var(--color-gray1);
}

.bg-green {
	background-color: var(--color-green);
}
.bg-red {
	background-color: var(--color-red);
}
.bg-yellow {
	background-color: var(--color-yellow);
}

.d-inline{
	display: inline;
	
}

.this_link:hover{
	cursor: pointer;
	transform: scale(1.1);
}


/*bootstarp custom------------------------*/
	.text-justify {
	  	text-align: justify;
	}

	.embed-responsive {
	  position: relative;
	  display: block;
	  width: 100%;
	  padding: 0;
	  overflow: hidden;
	}

	.embed-responsive::before {
	  display: block;
	  content: "";
	}

	.embed-responsive .embed-responsive-item,
	.embed-responsive iframe,
	.embed-responsive embed,
	.embed-responsive object,
	.embed-responsive video {
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  border: 0;
	}

	.embed-responsive-21by9::before {
	  padding-top: 42.857143%;
	}

	.embed-responsive-16by9::before {
	  padding-top: 56.25%;
	}

	.embed-responsive-4by3::before {
	  padding-top: 75%;
	}

	.embed-responsive-1by1::before {
	  padding-top: 100%;
	}
/*end bootstarpcustom----------------------*/

